/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575px) { 
  #home-heading h3 {
    font-size: 22px;
  }
  .btn-general {
    padding: 6px 22px;
    font-size: 14px;
  }
  .img-wrapper img {
    min-width: 100%;
  }
  .testimonial blockquote {
    padding: 6px 50px;
  }
  .testimonial blockquote p {
    font-size: 16px;
  }
  #footer-copyrights {
    text-align: center;
  }
 }

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767px) { 
  .stats-item {
    padding: 20px 0;
  }
  #footer-copyrights {
    text-align: center;
  }
 }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) { 
  .navbar {
    background-color:rgba(0, 0, 0, .7);
    padding: 0;
  }
 }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) { 
  
 }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
  .img-wrapper {
    max-width: 100%;
    margin: auto;
  }
  #footer-copyrights {
    text-align: center;
    margin: auto;
  }
 }